* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  height: 80vh;
  margin: 50px auto 0 auto;
  border: 2px solid black;
}
.container .red, 
.container .blue, 
.container .yellow, 
.container .green {
  heigth: 100%;
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.red {
  background-color: #ed4040;
}

.blue {
  background-color: #4286f4;
}

.yellow {
  background-color: #ffef68;
}

.green {
  background-color: #99e265;
}