body {
  overflow: hidden;
  background-color: aliceblue;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #a83c1b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: background-color 0.5s 0.4s ease-in-out, transform 0.4s,
    color 0.4s 0.2s;
  cursor: pointer;
  margin: 5px;
}
.button:hover {
  background-color: blueviolet;
  color: black;
  transform: scale(1.4) rotateX(-30deg);
}
