
.icon-tint:before { content: '\e800'; } /* '' */
.icon-air:before { content: '\e801'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-thermometer-0:before { content: '\f2cb'; } /* '' */