.App {
    text-align: center;
}

.footer {
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer-link {
    background-color: burlywood;
    flex: 1;
    padding: 20px;
}