body {
  overflow: hidden;
  background-color: aliceblue;
}
.container {
  display: flex;
  justify-content: space-around;
}
.rocket {
  position: absolute;
  bottom: 0;
}
.rocket-1 {
  left: 0;
}
.rocket-2 {
  bottom: 0;
}
.rocket-3 {
  right: 0;
}
